.signin-container {
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin-top: 200px;
  }
  
  .signin-container input {
    margin: 10px 0;
    padding: 8px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  .signin-container button {
    padding: 10px;
    width: 100%;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  